@use 'sass:map';
@use "../../../shared/components/base-edit/base-edit.component";
@import "../../../../theme";

.dialog-content {
  margin: 0;
  padding: 0;
  
  .add-button {
    background-color: map.get($mat-primary, main);
  }

}
