<app-loading [loading]="loading">
  <mat-card class="small-card">
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="20" class="day-title">
          <strong>{{titleDayOfTheWeek}}</strong><br>
          <strong>{{titleDay}}</strong>
        </div>
        <table class="mat-table entries" fxFlex="80">
          <tr class="mat-row" *ngFor="let calendarEntry of calendarEntries$ | async"
              (click)="onCalendarEntryClicked(calendarEntry.id)">
            <td class="mat-cell" title="Wann">{{calendarEntry.start_time + " - " + calendarEntry.end_time}}<br>
              <sub *ngIf="public">{{calendarEntry.user.firstname}}</sub>
            </td>
            <td class="mat-cell" title="Beschreibung">
              <strong>{{calendarEntry.title}}</strong><br>{{ calendarEntry.description }}
            </td>
          </tr>
          <tr class="no-entry">
            <td colspan="2" class="no-entry">Kein Eintrag</td>
          </tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</app-loading>
