<app-toolbar [beforeBackFunction]="unlockFunction"></app-toolbar>
<h1 *ngIf="createMode">Angebot erstellen</h1>
<h1 *ngIf="!createMode">Angebot bearbeiten</h1>
<form (ngSubmit)="onSubmit()" [formGroup]="offerGroup">
  <div fxLayout="row" fxLayoutAlign=" start">
    <div formArrayName="descriptive_articles" fxLayout="column" fxLayoutAlign="space-around center">
      <div *ngFor="let descriptiveArticle of getDescriptiveArticles(offerGroup).controls; let i = index">
        <div fxLayout="column" fxLayoutAlign="space-around center" [formGroupName]="i">
          <div fxLayout="row" fxLayoutAlign="start center">
            <p>hhfifigd</p>
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input class="form-control" formControlName="description" matInput>
            </mat-form-field>
          </div>
          <div formArrayName="sub_descriptive_articles">
            <div fxLayout="row" fxLayoutAlign="start center" [formGroupName]="j"
                 *ngFor="let sub_descriptive_article of getSubDescriptiveArticles(offerGroup).controls; let j = index">
              <mat-form-field>
                <mat-label>Beschreibung</mat-label>
                <textarea class="form-control" formControlName="description" matInput></textarea>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Menge</mat-label>
                <input class="form-control" formControlName="amount" matInput>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Einzelpreis</mat-label>
                <input class="form-control" formControlName="single_price" matInput>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <button (click)="addDescriptiveArticle()" mat-raised-button type="button">Position hinzufügen</button>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-around center">
      <mat-form-field>
        <mat-label>Allgemeine Materialbeschreibung:</mat-label>
        <textarea class="form-control" formControlName="material_description" placeholder="Wird weggelassen wenn leer"
                  matInput></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Im Preis einbegriffen:</mat-label>
        <textarea class="form-control" formControlName="in_price_included" matInput></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Gültigkeit</mat-label>
        <textarea class="form-control" formControlName="validity" matInput></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Bezahlung:</mat-label>
        <textarea class="form-control" formControlName="payment" matInput></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Lieferung</mat-label>
        <textarea class="form-control" formControlName="delivery" matInput></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Mehrwertsteuer</mat-label>
        <mat-select formControlName="vat_id">
          <mat-option *ngFor="let vat of vatOptions$ | async" [value]="vat.id">
            {{vat.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Datum</mat-label>
        <input formControlName="date" matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Rabatt</mat-label>
        <input class="form-control" [value]="discountAmount.value | currency:'EUR'"
               placeholder="Wird weggelassen wenn leer" matInput>
      </mat-form-field>
      <button [disabled]="submitted" mat-raised-button type="submit">Speichern</button>
    </div>
  </div>
</form>

