mat-card {
  height: 110px;
  width: 110px;
}

mat-card-content {
  position: relative;
  height: 100%;
  width: 100%;
}

button {
  margin-left: auto;
  margin-right: auto;
}

span {
  position: absolute;
  bottom: 0;
  text-align: center;
}

