
.loading {
  max-height: 100%;
  min-height: 100%;

  .spinner {
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translateY(-50%);
  }

}


.hidden {
  visibility: hidden;
  display: none;
}

