.table-row{
  cursor: pointer;
  &:hover{
    font-weight: bolder;
    box-shadow: inset 0px -1px 4px 0px rgb(0 0 0 / 30%);
    -webkit-box-shadow: inset 0px -1px 4px 0px rgb(0 0 0 / 30%);
    -moz-box-shadow: inset 0px -1px 4px 0px rgb(0 0 0 / 30%);
  }
}
