<div class="table">
  <mat-form-field>
    <input matInput placeholder="Suchen" #input>
  </mat-form-field>
  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container [matColumnDef]="column.name" *ngFor="let column of dataSource.columns">
      <mat-header-cell *matHeaderCellDef >
        {{ column.headerName }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.values[column.name] }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="dataSource.columnIdentifiers; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: dataSource.columnIdentifiers" (click)="rowClicked(row.route)"></mat-row>
  </mat-table>
  <mat-paginator [length]="(dataSource.amount$ | async)" [pageSize]="dataSource.pageSize"
                 [pageSizeOptions]="dataSource.pageSizeOptions"></mat-paginator>
</div>
