<app-toolbar></app-toolbar>
<h1 *ngIf="createMode">Benutzer erstellen</h1>
<h1 *ngIf="!createMode">Benutzer bearbeiten</h1>
<mat-tab-group>
  <mat-tab label="Allgemein">
    <form (ngSubmit)="onSubmit()" [formGroup]="userGroup">
    <div fxLayout="column" fxLayoutAlign="space-around center" >
      <mat-form-field>
        <mat-label>Vorname</mat-label>
        <input class="form-control" formControlName="firstname" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nachname</mat-label>
        <input class="form-control" formControlName="lastname" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Mail</mat-label>
        <input class="form-control" formControlName="mail" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Telefon</mat-label>
        <input class="form-control" formControlName="tel" matInput>
      </mat-form-field>
      <mat-form-field *ngIf="createMode">
        <mat-label>Password</mat-label>
        <input class="form-control" formControlName="password" matInput>
      </mat-form-field>
      <button [disabled]="submitted" mat-raised-button type="submit">Speichern</button>
    </div>
    </form>
  </mat-tab>
  <mat-tab label="Rechte"> Content 2 </mat-tab>
  <mat-tab label="Password"> Content 3 </mat-tab>
</mat-tab-group>
