<app-toolbar [title]="title" [buttonList]="buttons"></app-toolbar>
<div class="window-container">
    <mat-tab-group (selectedIndexChange)="selectedTabChanged($event)">
        <mat-tab label="Arbeitstag">
            <div fxLayout="column" fxLayoutAlign="space-around center">
                <mat-form-field appearance="fill">
                    <mat-label>Arbeitstag</mat-label>
                    <mat-select (selectionChange)="workDayChanged($event)">
                        <mat-option *ngFor="let workDay of workDays$ | async" [value]="workDay.id">
                            {{workDay.date | date}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="!workDayLoading">
                    <app-work-day-general [admin]=true [workDay]="workDay"></app-work-day-general>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Spesen">
            <app-table-builder [dataSource]="feeDataSource"></app-table-builder>
        </mat-tab>
        <mat-tab label="Fahrten">
            <app-table-builder [dataSource]="journeyDataSource"></app-table-builder>
        </mat-tab>
        <mat-tab label="Essen">
            <app-table-builder [dataSource]="mealDataSource"></app-table-builder>
        </mat-tab>
        <mat-tab label="Wartung">
            <app-table-builder [dataSource]="serviceDataSource"></app-table-builder>
        </mat-tab>
        <mat-tab label="Zusätzliche Arbeiten">
            <app-table-builder [dataSource]="additionalWorkloadDataSource"></app-table-builder>
        </mat-tab>
    </mat-tab-group>
</div>
