<app-toolbar></app-toolbar>
<mat-tab-group>
    <mat-tab label="Arbeitstag">
        <mat-tab-group>
            <mat-tab label="Geschlossener Arbeitstag">
                <div *ngIf="finishedWorkDayLoading">
                    <mat-spinner></mat-spinner>
                </div>
                <div *ngIf="!finishedWorkDayLoading">
                    <p *ngIf="!finishWorkDay">Keinen geschlossenen Arbeitstag gefunden</p>
                    <div *ngIf="finishWorkDay">
                        <app-work-day-general [admin]=true [workDay]="finishWorkDay"></app-work-day-general>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Offener Arbeitstag">
                <div *ngIf="todayWorkDayLoading">
                    <mat-spinner></mat-spinner>
                </div>
                <div *ngIf="!todayWorkDayLoading">
                    <p *ngIf="!todayWorkDay">Keinen offenen Arbeitstag gefunden</p>
                    <div *ngIf="todayWorkDay">
                        <app-work-day-general [admin]=true [workDay]="todayWorkDay"></app-work-day-general>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-tab>
    <mat-tab label="Spesen">
        <app-table-builder [dataSource]="feeDataSource"></app-table-builder>
    </mat-tab>
    <mat-tab label="Fahrten">
        <app-table-builder [dataSource]="journeyDataSource"></app-table-builder>
    </mat-tab>
    <mat-tab label="Essen">
        <app-table-builder [dataSource]="mealDataSource"></app-table-builder>
    </mat-tab>
</mat-tab-group>
