<app-toolbar></app-toolbar>
<div class="window-container order-container">
  <div fxLayout="row" fxLayoutAlign="space-between start" fxFlexFill class="container-group">
    <div fxFlex="20" class="order-column" [class.active]="step >= 0" fxFlexFill>
      <app-filterable-clickable-list [listElements$]="toList$" (onClickEventEmitter)="toListItemClicked($event)"
                                     [name]="toListName"></app-filterable-clickable-list>
    </div>
    <div fxFlex="20" class="order-column" fxFlexFill [class.active]="step >= 1">
      <app-filterable-clickable-list [listElements$]="fromList$" (onClickEventEmitter)="fromListItemClicked($event)"
                                     [name]="fromListName"></app-filterable-clickable-list>
    </div>
      <div fxFlex="29" class="order-column" fxFlexFill [class.active]="step >= 2">
        <app-products-list [availableProducts$]="availableProducts$" [name]="availableProductListName"
                           [orderId]="lastOrderId" [available]="true"
                           (onRefreshOrderedArticleListEmitter)="refreshOrderedProducts()"
                           (onRefreshAvailableArticleListEmitter)="refreshAvailableProducts()"></app-products-list>
      </div>
      <div fxFlex="29" class="order-column" fxFlexFill [class.active]="step >= 2">
        <app-products-list [orderedProducts$]="orderedProducts$" [name]="orderedProductListName" [orderId]="lastOrderId"
                           [available]="false" (onRefreshOrderedArticleListEmitter)="refreshOrderedProducts()"
                           (onRefreshAvailableArticleListEmitter)="refreshAvailableProducts()"></app-products-list>
      </div>
  </div>
</div>
