<app-toolbar></app-toolbar>
<div fxLayout="row" fxLayoutAlign=" none" >
  <div>
    <app-filterable-clickable-list [listElements$]="toList$" (onClickEventEmitter)="toListItemClicked($event)" [name]="toListName"></app-filterable-clickable-list>
  </div>
  <div>
  </div>
  <app-filterable-clickable-list [listElements$]="fromList$" (onClickEventEmitter)="fromListItemClicked($event)" [name]="fromListName"></app-filterable-clickable-list>
  <div fxLayout="column" fxLayoutAlign=" none" >
    <div>
      SUPPLIER-LIST
    </div>
    <div>
      ORDERED-LIST
    </div>
  </div>
</div>
