@import '../../../styles.scss';

$primary: map-get($theme, primaryprimary);


.chat {
  overflow: hidden;
  isolation: isolate;

  .chat-message-box {
    overflow-y: scroll;
    background: #fff;
    z-index: 1;
    border-bottom: solid thin #eee;
    padding-bottom: 8px;

    &.ivan{
      background: map-get($mat-accent, lighter);
    }
    &:before {
      content: '';
      position: absolute;
      inset: 0 8px 0 0;
      opacity: 0.06;
      background-repeat: repeat;
    }
    &.ivan:before{
      background-image: url('~assets/images/chat-bg.png');
    }
  }

  .input-box {
    z-index: 2;
    background: white;
  }

}

/* width
.chat-message-box::-webkit-scrollbar {
  width: 8px;
}

/* Track
.chat-message-box::-webkit-scrollbar-thumb {
  background: #fcaf00;
}

/* Handle
.chat-message-box::-webkit-scrollbar-track {
  background: #eee;
}

/* Handle on hover
.chat-message-box::-webkit-scrollbar-thumb:hover {
  background: #fcaf00;
}
/* Handle on hover
.chat-message-box::-webkit-scrollbar-track:hover {
  background: #bbb;
}*/

textarea {
  resize: none !important;
}
