<div class="single-note" *ngIf="noteVisible">
  <div class="pin"></div>
  <span (click)="deleteNoteClicked()" class="material-icons close">delete</span>
  <div class="text">
    <strong>Text</strong>
    <textarea [formControl]="singleNoteTextArea" [class.xs]="note.text.length > 50"
              [class.s]="note.text.length > 40 && note.text.length <= 50"
              [class.m]="note.text.length > 30 && note.text.length <= 40"
              [class.l]="note.text.length > 20 && note.text.length <= 30"
              [class.xl]="note.text.length <= 20"
              class="note-text">{{note.text}}</textarea>
  </div>
</div>
