<app-toolbar [buttonList]="buttons"></app-toolbar>
<div class="window-container">
    <app-info-builder [dataSource]="infoDataSource"></app-info-builder>
    <mat-tab-group>
        <mat-tab label="Lieferanten">
            <app-table-builder [dataSource]="ingoingDataSource" title="Bestellungen"></app-table-builder>
        </mat-tab>
        <mat-tab label="Aufträge">
            <app-table-builder [dataSource]="outgoingDataSource" title="Bestellungen"></app-table-builder>
        </mat-tab>
    </mat-tab-group>
</div>
