<app-toolbar [buttonList]="buttons"></app-toolbar>
<app-info-builder [dataSource]="infoDataSource"></app-info-builder>
<mat-tab-group>
    <mat-tab label="Bestellte Artikel">
        <app-table-builder [dataSource]="createdOrderDataSource" title="Bestellte Artikel"></app-table-builder>
    </mat-tab>
    <mat-tab label="Verschickte Bestellungen">
        <app-table-builder [dataSource]="orderedOrderDataSource" title="Verschickte Bestellungen"></app-table-builder>
    </mat-tab>
    <mat-tab label="Erhaltene Bestellungen">
        <app-table-builder [dataSource]="deliveredOrderDataSource" title="Erhaltene Bestellungen"></app-table-builder>
    </mat-tab>
</mat-tab-group>

