<div class="note" fxFlexFill fxLayout="column" fxLayoutAlign="center stretch">
  <mat-grid-list cols="2" class="note-list">
    <mat-grid-tile class="single-note-container" *ngFor="let note of notes; let last = last">
      <app-single-note (noteDeleted)="deleteNote(note)" [note]="note" fxFlexFill></app-single-note>
    </mat-grid-tile>
  </mat-grid-list>
  <div fxLayout="row" fxLayoutAlign="center center">
    <button *ngIf="addNoteAvailable()" mat-fab (click)="newNoteClicked()" class="new-note-btn" title="Neue Notiz">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
