@use "sass:map";
@import "../../../theme";

.note {
  // border-width: 1px;
  // border-style: outset;
  // border-color: map.get($mat-primary, main);
  // box-shadow: 0 0 5px map.get($mat-primary, main);
  // padding: 10px;
  // background-image: url("http://res.cloudinary.com/cspaveljb/image/upload/v1499110969/cork_w2tt25.jpg");
  // background-size: cover;
  background: white;
  isolation: isolate;

  .note-list {
    max-height: 100%;

    .single-note-container {
      overflow: visible;
    }

    .single-note-container:first-child,
    .single-note-container:nth-child(4n) {
      transform: rotate(-2.5deg);
      -webkit-transform: rotate(-2.5deg);
      -moz-transform: rotate(-2.5deg);
    }

    .single-note-container:nth-child(2n) {
      transform: rotate(1.5deg);
      -webkit-transform: rotate(1.5deg);
      -moz-transform: rotate(1.5deg);
    }

    .single-note-container:nth-child(3n) {
      transform: rotate(.5deg);
      -webkit-transform: rotate(.5deg);
      -moz-transform: rotate(.5deg);
    }

    .single-note-container:nth-child(5n) {
      transform: rotate(-1deg);
      -webkit-transform: rotate(-1deg);
      -moz-transform: rotate(-1deg);
    }

    .single-note-container:hover {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      transform: scale(1.1);
    }
  }

  .new-note-btn {
    position: absolute;
    bottom: 20px;
  }
}

