@use "../shared/components/base-edit/base-edit.component";

fieldset {
  border: 0 none;
}


.remove-button {
  height: calc(81px - 1.34375em);
  margin-bottom: 1.34375em;
}

.remove-button-mobile {
  display: none;
  visibility: hidden;
}


@media (max-width: 600px) {
  mat-form-field {
    margin-bottom: -1.34375em;
  }
  .remove-button {
    display: none;
    visibility: hidden;
  }
  .remove-button-mobile {
    display: inline-block;
    visibility: visible;
  }
}
