<form [formGroup]="descriptiveArticlesGroup">
  <div formArrayName="articles">
    <div *ngFor="let descriptiveArticle of getDescriptiveArticleArray().controls; let i = index" fxLayout="row"
         fxLayoutAlign="space-around center">
      <div [formGroupName]="i">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input class="form-control" formControlName="name" matInput>
        </mat-form-field>
        <mat-form-field *ngIf="descriptiveArticle.get('header_article').value > -1">
          <mat-label>Beschreibung</mat-label>
          <textarea class="form-control" formControlName="description" matInput></textarea>
        </mat-form-field>
        <mat-form-field *ngIf="descriptiveArticle.get('header_article').value > -1">
          <mat-label>Menge</mat-label>
          <input class="form-control" formControlName="amount" matInput>
        </mat-form-field>
        <mat-form-field *ngIf="descriptiveArticle.get('header_article').value > -1">
          <mat-label>Einzelpreis</mat-label>
          <input class="form-control" formControlName="single_price" matInput>
        </mat-form-field>
        <mat-form-field *ngIf="descriptiveArticle.get('header_article').value > -1">
          <mat-label>Rabatt</mat-label>
          <input class="form-control" formControlName="discount" matInput>
        </mat-form-field>
        <mat-checkbox formControlName="alternative" *ngIf="descriptiveArticle.get('header_article').value > -1">Alternative</mat-checkbox>
        <button *ngIf="descriptiveArticle.get('header_article').value == -1" (click)="addDescriptiveArticle(i)" mat-raised-button type="button">Zeile einfügen</button>
        <button *ngIf="lineRemovable(i)" (click)="removeLine(i)" mat-raised-button type="button">Zeile löschen</button>
      </div>
    </div>
  </div>
  <button (click)="addHeaderClicked()" mat-raised-button type="button">Überschrift hinzufügen</button>
</form>
