<div class="window-container">
    <div fxLayout="column" fxLayoutAlign="space-around center">
        <h4 *ngIf="username.length > 0">Benutzer: {{username}}</h4>
        <h5 *ngIf="admin">Abgeschlossen: {{workDay.finished ? 'Ja' : 'Nein'}}</h5>
        <p *ngIf="workDayError && !admin">Fehler: Bitte im Büro korrigieren lassen</p>
        <p *ngIf="!workDayError && lengthString">Länge Arbeitstag: {{lengthString}}</p>
        <div *ngIf="workDayStartable">
            <button mat-raised-button type="button" (click)="onWorkDayStartClick()">
                Neuen Arbeitsabschnitt starten
            </button>
        </div>
    </div>
    <div *ngIf="workDayStopable">
        <button mat-raised-button type="button" (click)="onWorkDayStopClick()">
            Derzeitigen Arbeitsabschnitt stoppen
        </button>
    </div>
    <form *ngIf="workDayFinishable || workDayCompleted" [formGroup]="workDayEditGroup"
          (submit)="onWorkDayFinishSubmit()">
        <div fxLayout="column" fxLayoutAlign="space-around center">
            <mat-form-field appearance="fill">
                <mat-label>Datum</mat-label>
                <input matInput formControlName="date" [matDatepicker]="date">
                <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                <mat-datepicker #date></mat-datepicker>
            </mat-form-field>
            <div fxLayout="column" fxLayoutAlign="space-around center" formArrayName="work_phases" fxFlexFill>
                <h4>Arbeitsabschnitte:</h4>
                <div *ngFor="let workPhases of getWorkPhases().controls; let i = index">
                    <div fxLayout="row" fxLayoutAlign="space-around center" [formGroupName]="i"
                         fxLayout.lt-sm="column">
                        <mat-form-field appearance="fill">
                            <mat-label>Start</mat-label>
                            <input formControlName="checkin" matInput [format]=24
                                   autocomplete="disabled" [ngxTimepicker]="checkin_picker">
                            <ngx-material-timepicker (closed)="onWorkPhaseChange()"
                                                     [theme]="primaryTheme"
                                                     #checkin_picker></ngx-material-timepicker>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Ende</mat-label>
                            <input formControlName="checkout" matInput [format]=24
                                   autocomplete="disabled" [ngxTimepicker]="checkout_picker">
                            <ngx-material-timepicker (closed)="onWorkPhaseChange()"
                                                     [theme]="primaryTheme"
                                                     #checkout_picker></ngx-material-timepicker>
                        </mat-form-field>
                        <button *ngIf="admin" type="button" mat-button (click)="onRemoveWorkPhaseClick(i)"
                                title="Arbeitsabschnitt entfernen"
                                fxFlex.lt-sm="0"
                                class="remove-button">
                            <mat-icon>remove</mat-icon>
                        </button>
                        <button *ngIf="admin" type="button" mat-fab (click)="onRemoveWorkPhaseClick(i)"
                                title="Arbeitsabschnitt entfernen"
                                fxFlex.gt-sm="0" class="remove-button-mobile">
                            <mat-icon>remove</mat-icon>
                        </button>
                    </div>
                </div>
                <button *ngIf="admin" mat-fab type="button" (click)="onAddWorkPhaseClick()"
                        title="Arbeitsabschnitt hinzufügen">
                    <mat-icon>add</mat-icon>
                </button>
                <div *ngIf="workDayEditGroup.errors"
                     class="cross-validation-error-message alert alert-danger">
                    Achtung: Zeiten für Arbeitsabschnitte stimmen nicht!
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-around center" formArrayName="job_sections" fxFlexFill>
                <h4>Auf Auträge aufteilen: {{minutesToDisplayableString(maxMinutes)}}</h4>
                <div *ngFor="let workSection of getJobSections().controls; let i = index">
                    <div fxLayout="row" fxLayoutAlign="space-around center" [formGroupName]="i"
                         fxLayout.lt-sm="column">
                        <mat-form-field appearance="fill">
                            <mat-label>Auftrag</mat-label>
                            <input class="form-control" readonly formControlName="name" matInput>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Minuten</mat-label>
                            <input class="form-control" type="number" [readonly]="editDisabled"
                                   formControlName="minutes"
                                   (change)="onMinuteChange(i)"
                                   matInput>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Zeit</mat-label>
                            <input class="form-control" formControlName="readable_time" readonly matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-around center" formArrayName="expenses" fxFlexFill>
                <h4>Ausgaben eintragen</h4>
                <div *ngFor="let expense of getExpenses().controls; let i = index">
                    <div fxLayout="row" fxLayoutAlign="space-around center" [formGroupName]="i"
                         fxLayout.lt-sm="column">
                        <mat-form-field appearance="fill">
                            <mat-label>Beschreibung</mat-label>
                            <input class="form-control" formControlName="name" matInput>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Euro</mat-label>
                            <input class="form-control" formControlName="amount" type="number" matInput>
                            <!--<span matSuffix>€</span> -->
                        </mat-form-field>
                        <button *ngIf="!editDisabled" type="button" mat-button (click)="onRemoveExpenseClick(i)"
                                title="Ausgabe entfernen"
                                fxFlex.lt-sm="0"
                                class="remove-button">
                            <mat-icon>remove</mat-icon>
                        </button>
                        <button *ngIf="!editDisabled" type="button" mat-fab (click)="onRemoveExpenseClick(i)"
                                title="Ausgabe entfernen"
                                fxFlex.gt-sm="0" class="remove-button-mobile">
                            <mat-icon>remove</mat-icon>
                        </button>
                    </div>
                </div>
                <button *ngIf="!editDisabled" mat-fab type="button" (click)="onAddExpenseClick()"
                        title="Weitere Ausgabe hinzufügen">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-around center" formArrayName="drives" fxFlexFill>
                <h4>Fahrten eintragen</h4>
                <div *ngFor="let drive of getDrives().controls; let i = index">
                    <div fxLayout="row" fxLayoutAlign="space-around center" [formGroupName]="i"
                         fxLayout.lt-sm="column">
                        <mat-form-field appearance="fill">
                            <mat-label>Distanz [km]</mat-label>
                            <input class="form-control" formControlName="km" matInput type="number" value="">
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Auto</mat-label>
                            <mat-select formControlName="car_id">
                                <mat-option *ngFor="let car of cars$ |  async" [value]="car.id">
                                    {{car.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button *ngIf="!editDisabled" type="button" mat-button (click)="onRemoveDriveClick(i)"
                                title="Fahrt entfernen"
                                fxFlex.lt-sm="0"
                                class="remove-button">
                            <mat-icon>remove</mat-icon>
                        </button>
                        <button *ngIf="!editDisabled" type="button" mat-fab (click)="onRemoveDriveClick(i)"
                                title="Fahrt entfernen"
                                class="remove-button-mobile" fxFlex.gt-sm="0">
                            <mat-icon>remove</mat-icon>
                        </button>
                    </div>
                </div>
                <button *ngIf="!editDisabled" mat-fab type="button" (click)="onAddCarClick()"
                        title="Weitere Fahrt hinzufügen">
                    <mat-icon>add</mat-icon>
                </button>
            </div>

            <div fxLayout="column" fxLayoutAlign="space-around center" fxFlexFill>
                <h4>Essen eintragen</h4>
                <mat-form-field appearance="fill">
                    <mat-label>Gasthaus</mat-label>
                    <mat-select formControlName="eating_place_id">
                        <mat-option *ngFor="let eatingPlace of eatingPlaces$ |  async" [value]="eatingPlace.id">
                            {{eatingPlace.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <button *ngIf="workDayFinishable || this.admin" type="submit"
                    [disabled]="submitted || !workDayEditGroup.valid" mat-raised-button>
                {{buttonText}}
            </button>

        </div>
    </form>
</div>
<pre> {{workDayEditGroup.value | json}} </pre>

