<form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
  <div fxLayout="column" fxLayoutAlign="space-around center" >
    <mat-form-field>
      <mat-label>Titelseite Einleitung - Deutsch:</mat-label>
      <textarea class="form-control" formControlName="offer_title_introduction_de" matInput></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Titelseite Einleitung - Italienisch:</mat-label>
      <textarea class="form-control" formControlName="offer_title_introduction_it" matInput></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Im Preis eingegriffen - Deutsch: </mat-label>
      <input class="form-control" formControlName="offer_in_price_included_de" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Im Preis eingegriffen - Italienisch: </mat-label>
      <input class="form-control" formControlName="offer_in_price_included_it" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Gültigkeit - Deutsch: </mat-label>
      <input class="form-control" formControlName="offer_validity_de" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Gültigkeit - Italienisch: </mat-label>
      <input class="form-control" formControlName="offer_validity_it" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Lieferung - Deutsch: </mat-label>
      <input class="form-control" formControlName="offer_delivery_de" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Lieferung - Italienisch: </mat-label>
      <input class="form-control" formControlName="offer_delivery_it" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Bezahlung - Deutsch: </mat-label>
      <input class="form-control" formControlName="offer_payment_de" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Bezahlung - Italienisch: </mat-label>
      <input class="form-control" formControlName="offer_payment_it" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Absender Name - Deutsch: </mat-label>
      <input class="form-control" formControlName="offer_name_de" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Absender Name - Italienisch: </mat-label>
      <input class="form-control" formControlName="offer_name_it" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Absender Position - Deutsch: </mat-label>
      <input class="form-control" formControlName="offer_position_de" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Absender Position - Italienisch: </mat-label>
      <input class="form-control" formControlName="offer_position_it" matInput>
    </mat-form-field>
    <button [disabled]="submitted" mat-raised-button type="submit">Speichern</button>
  </div>

</form>

<pre> {{formGroup.value | json}} </pre>
