<h3>{{name}}</h3>
<mat-form-field>
  <mat-label>Suchen</mat-label>
  <input matInput [formControl]="search">
</mat-form-field>
<mat-list>
  <mat-list-item *ngFor="let article of search$| async">
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <input matInput value="{{article.name.translation}}" matTooltip="{{article.description.translation}}" readonly>
      <button mat-button (click)="copyButtonClicked(article)">Kopieren und hinzufügen</button>
      <button mat-button (click)="orderButtonClicked(article)">Hinzufügen</button>
    </div>
  </mat-list-item>
</mat-list>
