<h3 class="heading">{{name}}</h3>
<mat-form-field appearance="fill">
  <mat-label>Suchen</mat-label>
  <input matInput [formControl]="search">
</mat-form-field>
<mat-list *ngIf="available">
  <mat-list-item *ngFor="let article of searchAvailableArticles$| async">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlexFill class="article">
      <input matInput value="{{article.name.translation}}" matTooltip="{{article.description.translation}}" readonly
             class="article-name">
      <button mat-button mat-icon-button (click)="copyButtonClicked(article)" title="Kopieren und hinzufügen">
        <mat-icon>content_copy</mat-icon>
      </button>
      <button mat-button mat-icon-button (click)="orderButtonClicked(article)" title="Hinzufügen">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-list-item>
</mat-list>
<mat-list *ngIf="!available">
  <mat-list-item *ngFor="let orderedArticle of searchOrderedArticles$| async">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="article">
      <input matInput value="{{orderedArticle.article.name.translation}}"
             matTooltip="{{orderedArticle.article.description.translation}}" readonly fxFlex="25">
      <mat-form-field fxFlex="25">
        <mat-label>Menge</mat-label>
        <input matInput value="{{orderedArticle.amount}}" readonly>
      </mat-form-field>
      <!--
      <mat-form-field fxFlex="25">
        <mat-label>Einheit</mat-label>
        <input matInput value="{{orderedArticle.ordered_unit.name.translation}}" readonly>
      </mat-form-field> -->
      <div fxFlex="23">
        <button mat-button mat-icon-button (click)="editButtonClicked(orderedArticle)" title="Bearbeiten">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button mat-icon-button (click)="removeButtonClicked(orderedArticle)" title="Entfernen">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </mat-list-item>
</mat-list>
<div *ngIf="available" fxLayout="row" fxLayoutAlign="center center">
  <button type="button" mat-icon-button mat-raised-button class="add-button">
    <mat-icon>add</mat-icon>
  </button>
</div>
