@import "theme";

body {
  margin: 0 !important;
}


/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-thumb {
  background: #fcaf00;
}

/* Handle */
::-webkit-scrollbar-track {
  background: #eee;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fcaf00;
}

/* Handle on hover */
::-webkit-scrollbar-track:hover {
  background: #ccc;
}


// TODO: extract primary colors and use them on other places
