@use 'sass:map';
@import "theme";

body {
  margin: 0 !important;
}


/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-thumb {
  background: map.get($mat-primary, 200);;
}

/* Handle */
::-webkit-scrollbar-track {
  background: #eee;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: map.get($mat-primary, main);
}

/* Handle on hover */
::-webkit-scrollbar-track:hover {
  background: #ccc;
}
